<div class="weather-container">
  <div>
    <input [(ngModel)]="city" placeholder="Skriv stadens namn" (keyup.enter)="search()"/>
    <button (click)="search()">Hämta väder</button>
  </div>

  @if (weather) {
    <div>
      <h3>{{ weather.name }}</h3>
      <p>{{ weather.weather[0].description | titlecase }}</p>
      <p>🌡️ {{ weather.main.temp }} °C</p>
      <small>
        Min: {{ weather.main.temp_min }} °C | Max: {{ weather.main.temp_max }} °C
      </small>
      <p>💧 Luftfuktighet: {{ weather.main.humidity }} %</p>
      <p>💨 Vind: {{ weather.wind.speed }} m/s</p>
    </div>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }
</div>
