/* .dialog {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  max-width: 420px;
}

.dialog p {
  margin: 0;
  line-height: 1.5;
}

.dialog-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 16px;
} */

/* styles.css */
.cdk-dialog-container {
  padding: 0;
  background: transparent !;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
