<app-modal
  [primaryButtonText]="'OK'"
  [secondaryButtonText]="'Avbryt'"
  [showSecButton]="true"
  [firstBtnColor]="'success'"
  (primaryAction)="ok(value)"
  (secondaryAction)="close()"
>
  <h5 slot="header" class="text-dark">{{ data.title || 'Ny händelse' }}</h5>
  <div slot="body">
    @if (data.message) {
    <p class="text-dark">{{ data.message }}</p>
    }
    <input
      type="text"
      class="form-control"
      [(ngModel)]="value"
      [placeholder]="data.placeholder || 'Titel'"
      (keydown.enter)="ok(value)"
      autofocus
    />
  </div>
</app-modal>
